/* ===============================
   ADMIN LAYOUT
   =============================== */

.admin-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #f4f6f9;
  font-family: system-ui, sans-serif;
}

/* ===============================
   SIDEBAR
   =============================== */

.admin-sidebar {
  width: 200px;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.logo {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}

.admin-sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.admin-sidebar nav button {
  background: none;
  border: none;
  color: #cbd5f5;
  padding: 12px;
  text-align: left;
  border-radius: 6px;
  cursor: pointer;
}

.admin-sidebar nav button:hover {
  background: #1e293b;
  color: white;
}

.admin-sidebar nav button.active {
  background: #2563eb;
  color: white;
}
.admin-sidebar nav button.active.prof {
  background: #2563eb;
  color: white;
  margin-top: 120px;
  border: 1px solid white;
  width: 100%;
}

/* ===============================
   MAIN CONTENT
   =============================== */

.main-admindashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;        
  min-height: 0;   
  margin-left: 200px;   
}

/* HEADER */

.header {
  background: white;
  padding: 16px 24px;
  border-bottom: 1px solid #e5e7eb;
  z-index: 1300;
}

/* PAGE CONTENT */

.page-admindashboard-content{
  flex:1;
  padding: 24px;
  overflow-y: auto;
  min-height: 0;  
      
}

/* adminDashboard.css */
.admin-profile {
  display: flex;
  align-items: center;
}
.prof{
  margin-bottom: 0;
  border: 1px solid white;
}



@media (max-width: 768px) {
  .main-admindashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;        
  min-height: 0;   
  margin-left: 0;   
}


.header {
  background: white;
  padding: 16px 44px;
  border-bottom: 1px solid #e5e7eb;
  z-index: 800;

}



}